/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body,
.outer-wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
}

.outer-wrapper {
	overflow-y: auto;
}

.header {
	position: fixed;
	top: 0;
	height: 50px;
	background: white;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 10;
	border-bottom: 1px solid #e0e0e0;
}
@media all and (max-width: 600px) {
	.header {
		padding-right: 19px;
	}
}

.banner-wrapper {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	background: url(https://beatoftheday.s3.us-west-1.amazonaws.com/audio%2F78f890d8-4e5c-4c37-b95e-d878fd30ff0a%2Fdlanham-Game-Hunter-Empty.jpg),
		#00b3de;
	background-position: left 0 bottom 442px;
	background-size: 1180px 780px;
	box-shadow: 0 8px 6px -6px #b9b9b9;
	transition: all 0.3s;
}

.banner-wrapper:hover {
	box-shadow: 0 8px 6px -5px #b9b9b9;
	background: url(https://beatoftheday.s3.us-west-1.amazonaws.com/audio%2F78f890d8-4e5c-4c37-b95e-d878fd30ff0a%2Fdlanham-Game-Hunter-Empty.jpg),
		#00b3de;
	opacity: 0.9;
	background-position: left 0 bottom 446px;
	background-size: 1180px 780px;
}

.logo-cool {
	width: 100%;
	max-width: 994px;
	height: intrinsic;
}

.footer {
	height: 100px;
	background: #f7f7f7;
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0;
	box-shadow: 0 -6px 6px -4px #b9b9b9;
}

.inner-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #333;
	padding-left: 2px;
	padding-right: 2px;
}

a:hover {
	background: #333;
}

* {
	box-sizing: border-box;
}

h2 {
	margin-top: 50px;
}

.field {
	display: flex;
}

label {
	margin-right: 10px;
	min-width: 80px;
}

input:not([type="checkbox"]) {
	outline: none;
	min-width: 250px;
	padding: 5px;
	margin-top: -4px;
	margin-bottom: 15px;
	margin-left: 10px;
}

input[type="submit"] {
	margin-left: 0;
}

.sign-up {
	margin-left: 20px;
	padding: 5px 10px;
	border: 1px solid #666;
	border-radius: 3px;
}

.tippy-box {
	background: #666;
	border-radius: 3px;
	padding: 5px;
	margin: 0;
	color: white;
	font-size: 10px;
}

.tippy-content {
	margin: 0;
	padding: 0;
}

input[type="file"] {
	cursor: pointer;
}

.devise-outer-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.devise-container {
	width: 50%;
}

@media all and (max-width: 1080px) {
	.devise-container {
		width: 80%;
	}
}

[type="file"] {
	display: none;
}

[type="file"] + label {
	background: #f15d22;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	/* font-family: 'Rubik', sans-serif; */
	font-size: inherit;
	font-weight: 500;
	outline: none;
	position: relative;
	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: darken(#f15d22, 10%);
	}
}

.actions input[type='submit'] {
	font-size: 14px;
	cursor: pointer;
	width: 100%;
	color: white !important;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f15d22;
	border: none;
	border-radius: 3px;
	text-decoration: none !important;
	line-height: 17px;
	padding: 10px;
	margin: 0 !important;
	text-shadow: none !important;
	box-sizing: border-box;
	height: 38px;
}

.actions input[type='submit']:hover {
	background: #f15d22 !important;
}

form {
	width: 90%;
	max-width: 500px;
}

.field input {
	width: 100% !important;
	min-width: auto !important;
}

.field input[type='checkbox'] {
	width: auto !important;
	margin-right: 15px;
	margin-top: 3px;
}

.outer-space-name {
	display: flex;
	align-items: center;
	padding-right: 10px;
}

@media all and (max-width: 600px) {
	.outer-space-name {
		display: none;
	}
}

.outer-space-mini-name {
	display: none;
}

@media all and (max-width: 600px) {
	.outer-space-mini-name {
		display: flex;
	}
}
